#!/usr/bin/env bash
# ^ make editor happy

#
# Use https://direnv.net/ to automatically load the dev shell.
#

watch_file nix/**
watch_file -- **/*.nix
# Adding files to git includes them in a flake
# But it is also a bit much reloading.
# watch_file .git/index .git/HEAD
use flake . --show-trace
